<div class="row">
	<div class="col-xs-12 col-sm-3" ng-include
		src="'resources/modules/commande-modules/commande-search-mod/commande-search.html'"></div>
	<div class="col-xs-12 col-sm-9">
		<div ng-include
			src="'resources/modules/commande-modules/commande-admin-mod/commande-admin.html'"></div>
		<div ng-include
			src="'resources/modules/commande-modules/commande-detail-mod/commande-selected-display.html'"></div>
		<div ng-repeat="commande in listCommandes">
			<div style="text-align: center;" class="col-md-4 col-sm-6 col-xs-12" ng-click="selectDetailsCommande(commande)"
				data-toggle="modal" data-target="#selectedCommandeDisplay">
				<div style="margin-top: 50px;" class="col-xs-12">{{commande.name}}
					{{commande.variete}}</div>
				<div class="col-xs-12">
					<img width="250px" height="250px"
						ng-src="{{commande.url}}">
				</div>
				<div style="font-size:15px; font-weight:bold;" class="col-xs-12">{{commande.id}}</div>
			</div>
		</div>
		<div style="margin-top: 50px;" class="col-xs-12"></div>
	</div>
</div>