<h1>ff+{{listePanier}}</h1>
<div class="row">
	<div class="col-xs-12 col-sm-3" ng-include
		src="'resources/modules/search-product-mod/search-product.html'"></div>
	<div class="col-xs-12 col-sm-9">
		<div ng-repeat="produit in listePanier">
			<div class="row">
				<div class="col-xs-4">{{produit.id}}</div>
				<div class="col-xs-6">
					<div class="row">
						<div class="col-xs-2">11</div>
						<div class="col-xs-2">
							<button class="btn" ng-click="minusProduct()"
								ng-show="isMinusProductShown()">
								<span class="glyphicon glyphicon-minus"></span>
							</button>
						</div>
						<div class="col-xs-2">
							<input type="text" size="2" ng-model="basket" />
						</div>
						<div class="col-xs-2">
							<button class="btn" ng-click="plusProduct()"
								ng-show="isPlusProductShown()">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>