<div class="modal-header"
	style="padding: 35px 50px; background-color: #f9f9f9;; color: rgb(221, 131, 14); font-family: Bradley Hand; text-align: center; font-size: 30px;">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3>
		<span class="glyphicon glyphicon-lock"></span> Récapitulatif de votre
		commande
	</h3>
</div>
<div class="modal-body">
	{{commandInfo.prenom}} {{commandInfo.nom}},<br><br> 
	Votre commande d'un montant de {{montantTotal}} euros a bien été prise en compte et nous vous en
	remercions.<br><br>
	<span style="font-weight:bold;">Le {{commandInfo.date}} entre {{listeHoraires[commandInfo.heure].libelle}}h</span>
	<span ng-show="commandInfo.livDom=='e'">venez retirer votre commande à :<br><br>Bio To Be Alive<br></span>
	<span ng-show="commandInfo.livDom=='d'">votre commande vous sera livrée à:<br><br></span>
	
	{{commandInfo.adresse}}<br>{{commandInfo.cp}} {{commandInfo.ville}}<br><br>
	
	L'équipe Bio To Be Alive.
	
</div>
<div class="modal-footer" style="background-color: #f9f9f9;">
	<div align="center">
		<button
			style="background-color: rgb(221, 131, 14); border-radius: 10px;"
			ng-click="revenirAccueil()" data-dismiss="modal">
			<span>Accéder au catalogue</span>
		</button>
	</div>
</div>