<div class="modal-header"
	style="padding: 35px 50px; background-color: #f9f9f9;; color: rgb(221, 131, 14); font-family: Bradley Hand; text-align: center; font-size: 30px;">
	<button type="button" class="close" data-dismiss="modal">&times;</button>
	<h3>
		<span class="glyphicon glyphicon-lock"></span> Récapitulatif de votre
		commande
	</h3>
</div>
<div class="modal-body">
	<div class="col-xs-10">
		<div class="col-xs-10" style="margin-top: 40px;"></div>
		<div class="col-xs-2" style="margin-top: 40px;">
			<button
				style="background-color: rgb(221, 131, 14); border-radius: 10px;"
				ng-click="revenirCatalog()">
				<span>Accéder au catalogue</span>
			</button>
		</div>
	</div>
</div>