<h1>{{aa}}</h1>
<div class="form-group">
	<label for="commandmail"><span class="glyphicon glyphicon-user"></span>
		Nom</label> <input type="text" class="form-control" ng-model="commandInfo.nom"
		placeholder="Entrez votre nom">
</div>
<div class="form-group">
	<label for="commandprenom"><span
		class="glyphicon glyphicon-user"></span> Prenom</label> <input type="text"
		class="form-control" ng-model="commandInfo.prenom"
		placeholder="Entrez votre prenom">
</div>
<div class="form-group">
	<label for="commandmail"><span
		class="glyphicon glyphicon-envelope"></span> Mail</label> <input type="text"
		class="form-control" ng-model="commandInfo.mail"
		placeholder="Entrez votre mail">
</div>
<div class="form-group">
	<label for="commandadresse"><span
		class="glyphicon glyphicon-user"></span> Adresse</label> <input type="text"
		class="form-control" ng-model="commandInfo.adresse"
		placeholder="Entrez votre adresse">
</div>
<div class="form-group">
	<label for="commandcp"></span> Code postal</label> <input type="text"
		class="form-control" ng-model="commandInfo.cp"
		placeholder="Entrez votre code postal">
</div>
<div class="form-group">
	<label for="commandville"> Ville</label> <input type="text"
		class="form-control" ng-model="commandInfo.ville"
		placeholder="Entrez votre ville">
</div>