<div ng-controller="RecettePanierCtrl">
	<div class="col-xs-10" style="margin-top: 20px;"
			ng-repeat="ligne in listeProduitsRecette">
			<div class="col-xs-4">{{ligne.name}} {{ligne.variete}} - {{ligne.quantite}} {{ligne.unite}}</div>
			<div class="col-xs-3">
				<div class="col-xs-4">
					<button class="btn" ng-click="moinsProduit(ligne)"
						ng-disabled="isMoinsProduitInactif(ligne)">
						<span style="color: rgb(221, 131, 14);"
							class="glyphicon glyphicon-minus"></span>
					</button>
				</div>
				<div class="col-xs-4">
					<input type="text" size="1" ng-model="ligne.quotite" />
				</div>
				<div class="col-xs-4">
					<button class="btn" ng-click="plusProduit(ligne)"
						ng-disabled="isPlusProduitInactif(ligne)">
						<span style="color: rgb(221, 131, 14);"
							class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
				<div class="col-xs-4">
					<button class="btn" ng-click="selectDetailsProduit(ligne)"
						data-toggle="modal" data-target="#selectedProductDisplayRecette">
						<span style="color: rgb(221, 131, 14);"
							class="glyphicon glyphicon-search"></span>
					</button>
				</div>
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-3" style="text-align: center;">{{ligne.prixTotal}}
				€</div>
			<div class="col-xs-1">
				<button class="btn" ng-click="supprimeLigne(ligne)"">
					<span style="color: rgb(221, 131, 14);"
						class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
		</div>
</div>