<div class="row">
	<div class="col-xs-12 col-sm-3" ng-include
		src="'resources/modules/search-product-mod/search-product.html'"></div>
	<div class="col-xs-12 col-sm-9">
		<div ng-include
			src="'resources/modules/product-catalog-mod/partials/headerProductTriAndPage.html'"></div>
		<div ng-include
			src="'resources/modules/product-catalog-mod/partials/selectedProductDisplay.html'"></div>
		<div ng-repeat="produit in listProduits">
			<div style="text-align: center;" class="col-md-4 col-sm-6 col-xs-12" ng-click="selectDetailsProduit(produit)"
				data-toggle="modal" data-target="#selectedProductDisplay">
				<div style="margin-top: 50px;" class="col-xs-12">{{produit.name}}
					{{produit.variete}}</div>
				<div class="col-xs-12">
					<img width="250px" height="250px"
						ng-src="resources/modules/product-catalog-mod/img/{{produit.name}}{{produit.variete}}.jpg">
				</div>
				<div class="col-xs-12">{{produit.prix}}€ -
					{{produit.quantite}}{{produit.unite}}</div>
			</div>
		</div>
	</div>
</div>