<div style="margin-top: 20px;" ng-controller="SearchRecetteCtrl">
	<div class="col-xs-12" class="form-group"
		ng-controller="SearchRecetteCtrl">
		<div class="input-group input-group-sm icon-addon addon-sm">
			<input type="text" ng-model="searchRecetteString"
				placeholder="Rechercher un recette" class="form-control input-sm">
			<span class="input-group-btn">
				<button ng-click="searchRecetteByName()" class="btn btn-inverse">
					<span style="color: rgb(221, 131, 14);"
						class="glyphicon glyphicon-search"></span>
				</button>
			</span>
		</div>
	</div>
	<div style="color: rgb(221, 131, 14); margin-top:10px; margin-bottom: 10px;" class="col-xs-12">Types de Recette:</div>
	<div class="col-xs-12" ng-repeat="typeRecette in listTypesRecette">
		<input type="checkbox" ng-model="listTypesRecetteChoix[$index]"
			ng-change="changeTypeRecette()">&nbsp;&nbsp;{{typeRecette.name}}
	</div>
	
	<div style="color: rgb(221, 131, 14); margin-top:10px; margin-bottom: 10px;" class="col-xs-12">Par saison :</div>
	<div class="col-xs-12" ng-repeat="saison in listSaisons">
		<input type="checkbox" ng-model="listSaisonsChoix[$index]"
			ng-change="changeSaisons()">&nbsp;&nbsp;{{saison.name}}
	</div>
	
	<div style="color: rgb(221, 131, 14); margin-top:10px; margin-bottom: 10px;" class="col-xs-12">Par composition :</div>
	<div class="col-xs-12" ng-repeat="composition in listCompositions">
		<input type="checkbox" ng-model="listCompositionsChoix[$index]"
			ng-change="changeComposition()">&nbsp;&nbsp;{{composition.name}}
	</div>

	<h6>Debug:{{debug}}</h6>
</div>