<div class="row">
	<div class="col-xs-12 col-sm-3" ng-include
		src="'resources/modules/produit-modules/produit-search-mod/produit-search.html'"></div>
	<div class="col-xs-12 col-sm-9">
		<div ng-include
			src="'resources/modules/produit-modules/produit-admin-mod/produit-admin.html'"></div>
		<div ng-include
			src="'resources/modules/produit-modules/produit-catalog-mod/partials/header-produit-tri-page.html'"></div>
		<div ng-include
			src="'resources/modules/produit-modules/produit-detail-mod/selected-produit-display.html'"></div>
		<div ng-repeat="produit in listProduits">
			<div style="text-align: center;" class="col-md-4 col-sm-6 col-xs-12" ng-click="selectDetailsProduit(produit)"
				data-toggle="modal" data-target="#selectedProductDisplay">
				<div style="margin-top: 50px;" class="col-xs-12">{{produit.name}}
					{{produit.variete}}</div>
				<div class="col-xs-12">
					<img width="250px" height="250px"
						ng-src="{{produit.url}}">
				</div>
				<div style="font-size:15px; font-weight:bold;" class="col-xs-12">{{produit.prix}}€ -
					{{produit.quantite}} {{produit.unite}}</div>
			</div>
		</div>
		<div style="margin-top: 50px;" class="col-xs-12"></div>
	</div>
</div>