<div class="modal fade" id="selectedProductDisplayRecette" role="dialog"
	ng-controller="ProductDetailRecetteCtrl">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="row">
					<img class="col-xs-4" width="150px" height="150px"
						ng-src="{{selectedProduitRecette.url}}">
					<div class="col-xs-8"
						style="text-align: center; margin-top: 25px; font-size: 25px; font-family: Bradley Hand;"><span style="color: rgb(221, 131, 14);">{{selectedProduitRecette.name}}
						{{selectedProduitRecette.variete}}</span> - {{selectedProduitRecette.quantite}} {{selectedProduitRecette.unite}}</div>
					<div class="col-xs-4" style="margin-top: 20px; text-align: center;">Ajouter
						au panier :</div>
					<div class="col-xs-1" style="margin-top: 15px;">
						<button class="btn" ng-click="moinsProduit()"
							ng-disabled="isMoinsProduitInactif()">
							<span style="color: rgb(221, 131, 14);"
								class="glyphicon glyphicon-minus"></span>
						</button>
					</div>
					<div class="col-xs-1" style="margin-left:15px; margin-top:19px; text-align:center" ng-model="panierQuantite">{{panierQuantite}}
					</div>
					<div class="col-xs-1" style="margin-top: 15px;">
						<button class="btn" ng-click="plusProduit()"
							ng-disabled="isPlusProduitInactif()" id=tooltip>
							<span style="color: rgb(221, 131, 14);"
								class="glyphicon glyphicon-plus"></span>
						</button>
					</div>
					<div class="col-xs-8" style="text-align: center; margin-top: 20px;">
						Prix à l'unité : {{selectedProduitRecette.prix}} € - <span
							style="color: rgb(221, 131, 14);">Prix à payer :
							{{panierPrixQt}} €</span>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<ul>
					<li>Provenance : {{selectedProduitRecette.provenance}}</li>
					<li>Date de production : {{selectedProduitRecette.dateCueillette}}</li>
					<li>Durée de conservation: {{selectedProduitRecette.dureeConservation}} jours</li>
					<li>Informations nutritionnelles (100g) :
						<ul>
							<li>Calories : {{selectedProduitRecette.calories}} kcal</li>
							<li>Glucides : {{selectedProduitRecette.glucides}} g</li>
							<li>Protéines : {{selectedProduitRecette.proteines}} g</li>
							<li>Fibres : {{selectedProduitRecette.fibres}} g</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>