<div style="font-family: Times New Roman;" class="modal fade"
	id="myModalConnect" role="dialog" ng-controller="ConnectCtrl">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header"
				style="padding: 35px 50px; background-color: #f9f9f9;; color: rgb(221, 131, 14); font-family: Bradley Hand; text-align: center; font-size: 30px;">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3>
					<span class="glyphicon glyphicon-lock"></span> Connexion
				</h3>
			</div>
			<div class="modal-body" style="padding: 40px 50px;">
				<h4 class="ano" align="center" ng-show="isErrorMessage()">{{errorMessage}}</h4>
				<form name="form" novalidate role="form">
					<div class="form-group">
						<label><span class="glyphicon glyphicon-user"></span>
							E-mail</label> <input type="email" class="form-control"
							ng-model="connectInfo.usrmail" placeholder="Entrez votre e-mail"
							name="mail" required="">
						<div ng-show="form.$submitted || form.mail.$touched">
							<div ng-show="form.mail.$error.required"></div>
							<span class="ano" ng-show="form.mail.$error.required">Veuillez
								saisir votre adresse mail. </span> <span class="ano"
								ng-show="form.mail.$error.email">Veuillez saisir une
								adresse mail valide.</span>
						</div>
					</div>
					<div class="form-group">
						<label><span class="glyphicon glyphicon-eye-open"></span>
							Mot de passe</label> <input type="password" class="form-control"
							ng-model="connectInfo.psw" name="psw" required=""
							placeholder="Entrez votre mot de passe">
						<div ng-show="form.$submitted || form.psw.$touched">
							<div ng-show="form.psw.$error.required" class="ano">Veuillez
								saisir votre mot de passe.</div>
						</div>
					</div>
					<button
						style="background-color: rgb(221, 131, 14); border-radius: 10px;"
						type="submit" ng-click="doConnect()" ng-disabled="form.$invalid" class="col-xs-12">
						<span class="glyphicon glyphicon-off"></span> Me connecter
					</button>
				</form>
			</div>
			<div class="modal-footer" style="background-color: #f9f9f9;">
				Pas encore inscrit(e)?
				<button
					style="color: rgb(221, 131, 14); border: none; background-color: Transparent; outline: none;"
					data-toggle="modal" data-target="#/signin" id="myBtnSignin"><span>M'inscrire</span></button>
			</div>
		</div>
	</div>
</div>