<!DOCTYPE html>
<html ng-app="eComBio">
<head>
<meta charset="utf-8">
<title>Achetez bio en ligne - Bio To Be Alive</title>
<link rel="stylesheet" type="text/css"
	href="resources/cssext/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="resources/cssext/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css"
	href="resources/cssext/angular-date-picker.css" />
<link rel="stylesheet" type="text/css"
	href="resources/cssin/custom.css" />
<link rel="stylesheet" type="text/css"
	href="resources/cssin/bandeau.css" />
<link rel="stylesheet" href="resources/cssext/slick.css" />
<link rel="stylesheet" href="resources/cssext/slick-theme.css" />
<script type="text/javascript" src="resources/jsext/angular.min.js"></script>
<script type="text/javascript" src="resources/jsext/jquery.min.js"></script>
<script type="text/javascript" src="resources/jsext/angular.js"></script>
<script src="resources/jsext/slick.js"></script>
<script src="resources/jsext/slick2.js"></script>
<script type="text/javascript"
	src="resources/jsext/angular-date-picker.js"></script>
<script type="text/javascript"
	src="resources/jsext/angular-route.min.js"></script>
<script type="text/javascript" src="resources/jsext/bootstrap.min.js"></script>
<script type="text/javascript"
	src="resources/jsext/angular-sanitize.min.js"></script>
<script type="text/javascript"
	src="resources/jsext/angular-cookies.min.js"></script>
<script>
	var eComBioApp = angular.module('eComBio', [ 'ngRoute','ngSanitize','mp.datePicker','ngCookies','slick']);
</script>
<script type="text/javascript"
	src="resources/modules/main-mod/svc/img-provider-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/main-mod/svc/cookie-store-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/main-mod/svc/rest-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/main-mod/svc/rest-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/user-info-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/categorie-svc.js"></script>	
<script type="text/javascript"
	src="resources/modules/dao-mod/categorie-recette-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/saison-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/composition-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/product-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/panier-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/commande-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/recette-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/produit-modules/produit-search-mod/svc/produit-search-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/recette-modules/recette-search-mod/svc/recette-search-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/commande-modules/commande-search-mod/svc/commande-search-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/produit-modules/produit-search-mod/ctrl/produit-search-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/recette-modules/recette-search-mod/ctrl/recette-search-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/commande-modules/commande-search-mod/ctrl/commande-search-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/recette-modules/recette-panier-mod/ctrl/recette-panier-ctrl.js"></script>		
<script type="text/javascript"
	src="resources/modules/produit-modules/produit-catalog-mod/ctrl/produit-catalog-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/produit-modules/produit-catalog-mod/ctrl/produit-tri-pagin-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/recette-modules/recette-catalog-mod/ctrl/recette-tri-pagin-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/commande-modules/commande-admin-mod/ctrl/commande-tri-pagin-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/commande-modules/commande-admin-mod/ctrl/commande-admin-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/produit-modules/produit-admin-mod/ctrl/produit-admin-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/produit-modules/produit-detail-mod/ctrl/produit-detail-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/recette-modules/recette-detail-mod/ctrl/recette-detail-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/commande-modules/commande-detail-mod/ctrl/commande-detail-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/recette-modules/recette-panier-mod/ctrl/recette-produit-detail-ctrl.js"></script>	
<script type="text/javascript"
	src="resources/modules/recette-modules/recette-catalog-mod/ctrl/recette-catalog-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/panier-mod/ctrl/recette-suggested-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/panier-mod/ctrl/panier-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/commande-modules/commande-crea-mod/ctrl/commande-crea-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/connect-mod/ctrl/connect-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/signin-mod/ctrl/signin-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/main-mod/main-ctrl/route-config.js"></script>
<script type="text/javascript"
	src="resources/modules/main-mod/main-ctrl/main-ctrl.js"></script>
</head>

<body ng-controller="MainCtrl">
	<div ng-include src="'resources/modules/connect-mod/connect.html'"></div>
	<div ng-include src="'resources/modules/signin-mod/signin.html'"></div>
	<div ng-include
			src="'resources/modules/recette-modules/recette-detail-mod/selected-recette-display.html'"></div>
	<div ng-include
			src="'resources/modules/recette-modules/recette-panier-mod/partials/selected-product-display-recette.html'"></div>
	<div id="ruban" class="row">
		<ul class="col-xs-12">
		 	<li ng-show="!isAdmin && !isGestion" class="col-md-3 col-xs-1"></li>
			<li ng-show="isAdmin || isGestion" class="col-md-2 col-xs-1"></li>
			<li class="col-md-1 col-xs-5" ng-class="menuIndice == 6 ? 'current':''" ng-show="isAdmin || isGestion"><a
				ng-click="menuIndice = 6" id="gestion" href="#/gestion""> </a></li>
			<li class="col-md-1 col-xs-5" ng-class="(menuIndice == $location.path()) || (menuIndice == 1) ? 'current':''"><a
				ng-click="menuIndice = 1" id="product" href="#"> </a></li>
			<li class="col-md-1 col-xs-5" ng-class="menuIndice == 2 ? 'current':''"><a
				id="recette" ng-click="menuIndice = 2" href="#/recette"> </a></li>
			<li class="col-md-3 col-xs-12"><img id="logo"
				src="resources/modules/main-mod/img/logo.png" alt="logo"
				title="logo" /></li>
			<li style="margin-top: 25px;" class="col-md-2 col-xs-12">
				<div style="margin-left:28px;" ng-show="user==''"><button
				data-toggle="modal" id="myBtnConnect" class="connect"
				data-target="#/connect"><span>Me Connecter &nbsp;</span></button><button
				id="myBtnSign" class="menuText" data-toggle="modal"
				data-target="#/signin"><span>M'inscrire</span></button></div>
				<div ng-show="user!=''" style="margin-left:60px; color: rgb(221, 131, 14); font-family: Times New Roman;">Bienvenue {{user}}</div>
				<button ng-show="user!=''" style="margin-left:60px;" class="menuText"><span>Me déconnecter</span></button>
				<ul>
					<li ng-class="menuIndice == 5 ? 'current':''"><a style="margin-left:17px;" id="basket"
						ng-click="menuIndice = 5" href="#/panier"></a></li>
				</ul>
				<ul>
					<li><div style="margin-left:20px; color: rgb(221, 131, 14); font-family: Times New Roman;">Montant : {{montantPanier}} €</div></li>
				</ul>
			</li>
			<li class="col-md-2 col-xs-1"></li>
		</ul>
	</div>
	<div ng-view></div>
	<!--h4 style="color:red;" ng-show="anomalieTechnique != ''">Message serveur :
	<pre>{{anomalieTechnique | json}}</pre></h4-->
</body>
</html>
