<!DOCTYPE html>
<html ng-app="eComBio">
<head>
<meta charset="utf-8">
<title>Achetez bio en ligne - Bio To Be Alive</title>
<link rel="stylesheet" type="text/css"
	href="resources/cssext/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="resources/cssext/bootstrap-theme.min.css" />
<link rel="stylesheet" type="text/css"
	href="resources/cssext/angular-date-picker.css" />
<link rel="stylesheet" type="text/css"
	href="resources/cssin/bandeau.css" />
<script type="text/javascript" src="resources/jsext/angular.min.js"></script>
<script type="text/javascript" src="resources/jsext/jquery.min.js"></script>
<script type="text/javascript"
	src="resources/jsext/angular-date-picker.js"></script>
<script type="text/javascript"
	src="resources/jsext/angular-route.min.js"></script>
<script type="text/javascript" src="resources/jsext/bootstrap.min.js"></script>
<script>
	var eComBioApp = angular.module('eComBio', [ 'ngRoute','mp.datePicker']);
</script>
<script type="text/javascript"
	src="resources/modules/main-mod/rest-svc/img-provider-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/main-mod/rest-svc/rest-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/categorie-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/product-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/panier-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/command-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/dao-mod/recette-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/search-product-mod/svc/search-product-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/search-recette-mod/svc/search-recette-svc.js"></script>
<script type="text/javascript"
	src="resources/modules/search-product-mod/ctrl/search-product-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/search-recette-mod/ctrl/search-recette-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/product-catalog-mod/ctrl/product-catalog-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/product-catalog-mod/ctrl/product-tri-pagin-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/product-catalog-mod/ctrl/product-detail-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/recette-mod/ctrl/recette-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/panier-mod/ctrl/panier-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/command-mod/ctrl/command-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/connect-mod/ctrl/connect-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/signin-mod/ctrl/signin-ctrl.js"></script>
<script type="text/javascript"
	src="resources/modules/main-mod/main-ctrl/route-config.js"></script>
<script type="text/javascript"
	src="resources/modules/main-mod/main-ctrl/main-ctrl.js"></script>
</head>

<body ng-controller="MainCtrl">
	<div ng-include src="'resources/modules/connect-mod/connect.html'"></div>
	<div ng-include src="'resources/modules/signin-mod/signin.html'"></div>
	<div id="ruban" class="row">
		<ul class="col-xs-12">
			<li class="col-md-3"></li>
			<li class="col-md-1" ng-class="menuIndice == 1 ? 'current':''"><a
				id="product" ng-click="menuIndice = 1" href="#"> </a></li>
			<li class="col-md-1" ng-class="menuIndice == 2 ? 'current':''"><a
				id="recette" ng-click="menuIndice = 2" href="#/recette"> </a></li>
			<li class="col-md-3"><img id="logo"
				src="resources/modules/main-mod/img/logo.png" alt="logo"
				title="logo" /></li>
			<li style="margin-top: 25px;" class="col-md-2"><a
				data-toggle="modal" id="myBtnConnect" class="connect"
				data-target="#/connect"><span>Me Connecter &nbsp;</span></a><a
				id="myBtnSign" class="menuText" data-toggle="modal"
				data-target="#/signin"><span>M'inscrire</span></a>
				<ul>
					<li ng-class="menuIndice == 5 ? 'current':''"><a id="basket"
						ng-click="menuIndice = 5" href="#/panier"></a></li>
				</ul>
				<ul>
					<li><span style="margin-left: 5px; color: rgb(221, 131, 14);">Montant {{montantPanier}} €</span></li>
				</ul>
			</li>
			<li class="col-md-2"></li>
		</ul>
	</div>
	<div ng-view></div>
	<h1 ng-show="anomalieTechnique != ''">anomalieTechnique :
		{{anomalieTechnique}}</h1>
</body>
</html>
