<div class="col-xs-12" style="margin-top: 20px;"
	ng-controller="RecetteSuggestedCtrl">
	<div class="row" ng-show="suggestedRecetteExist()">
		<div
			style="font-size: 18px; font-family: Bradley Hand; margin-top: 50px; color: rgb(221, 131, 14)"
			class="col-xs-12">Nous vous suggérons les recettes:</div>
		<div class="col-xs-1">
			<button class="btn" ng-click="pageLeft()"
				ng-show="isPageLeftsuggestedRecette()">
				<span style="color: rgb(221, 131, 14);"
					class="glyphicon glyphicon-chevron-left"></span>
			</button>
		</div>
		<div ng-repeat="recette in listSuggestedRecettes">
			<div class="col-sm-3 col-xs-12"
				ng-click="selectDetailsRecette(recette)"
				data-target="#selectedRecetteDisplay" data-toggle="modal">
				<div style="text-align: center; margin-top: 25px; font-size: 12px"
					class="col-xs-12">{{recette.name}}</div>
				<div align="center" class="col-xs-12">
					<img width="233px" height="127px" ng-src="{{recette.url}}">
				</div>
			</div>
		</div>
		<div class="col-xs-1">
			<button class="btn" ng-click="pageRight()"
				ng-show="isPageRightsuggestedRecette()">
				<span style="color: rgb(221, 131, 14);"
					class="glyphicon glyphicon-chevron-right"></span>
			</button>
		</div>
		<div class="col-xs-12" style="margin-top: 40px;"></div>
	</div>
</div>