.ano {
	color : red;
	font-weight: bold;
}

#myModalPaiement .modal-header button.close {
    visibility: hidden;
}

table {
	margin-top: 40px;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    text-align : center;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: rgb(221, 131, 14);;
    color: white;
}