<div class="modal fade" id="selectedProductDisplay" role="dialog"
	ng-controller="ProductDetailCtrl">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Détail d'un produit</h4>
			</div>
			<div class="modal-body">
				<h1>{{selectedProduit.name}}</h1>
				<div class="row">
					<div class="col-xs-6">
						<img src="resources/modules/main-mod/img/logo.jpg">
					</div>
					<div class="col-xs-6">
						<div class="row">
							<div class="col-xs-2">{{selectedProduit.name}}</div>
							<div class="col-xs-2">
								<button class="btn" ng-click="moinsProduit()"
									ng-disabled="isMoinsProduitInactif()">
									<span class="glyphicon glyphicon-minus"></span>
								</button>
							</div>
							<div class="col-xs-2">
								<input type="text" size="2" ng-model="panierQuantite" />
							</div>
							<div class="col-xs-2">
								<button class="btn" ng-click="plusProduit()"
									ng-disabled="isPlusProduitInactif()">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</div>
						</div>
					</div>
				</div>
				<h4>L'histoire de ce fruit : .. {{selectedProduit.name}}</h4>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
				</div>
			</div>

		</div>
	</div>
</div>